node_modules/
.DS_Store
*.log

#Claude
.claude/

#Python
dist/
.venv/
__pycache__/

#VS code
.vscode/
.agent/

#ENV
.env

# Flutter/Dart
**/.dart_tool/
**/build/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/coverage/
